<?xml version="1.0" encoding="utf-8"?>
<manifest package="nl.brouwerijdemolen.borefts2013"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".gui.BoreftsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <activity
            android:name=".gui.BoreftsActivity"
            android:label="@string/app_name_short">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".gui.screens.MapActivity"
            android:parentActivityName=".gui.BoreftsActivity"/>
        <activity
            android:name=".gui.screens.BrewerActivity"
            android:parentActivityName=".gui.BoreftsActivity"/>
        <activity
            android:name=".gui.screens.StyleActivity"
            android:parentActivityName=".gui.BoreftsActivity"/>
        <activity
            android:name=".gui.screens.BeerActivity"
            android:parentActivityName=".gui.BoreftsActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJpbGC_zoHZ27Eok4693rtT32yZEOqbLA"/>

    </application>

</manifest>
